p {
    position: relative;
	font-family:Impact;
	font-size:16px;
    color: #4682B4;
}

h3 {
	font-family:'Franklin Gothic Medium';
    font-size: 40px;
	color:#36648b;
	text-align:center;
    margin-top: 60px;
   
}

img {
    position: relative; 
    float: left;
    margin: 5% 5% 5% 5%;
    width: 40%;
    height: auto;
    
/*
    position: relative;
    width: 30%;
    height: auto;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 150px;
*/

}

#my_photo {
/*    margin-left: 20px auto;*/
}

#contents_top {
    clear: both;
/*	position: relative;*/
/*	top: -320px;*/
    margin-left: 50%;
    margin-top: -50%;
    

}

#contents_below {
/*    position: relative;*/
	top: -235px;
    margin-left: -650px ;
}

ul {
    position: relative;
    font-family: Helvetica;
    font-size: 16;
    color: #484848;
}

#location {
    position: relative;
    font-family: Helvetica;
    
    font-size: 16;
}

span {
    position: relative;
	color:#484848;
	font-family: Helvetica;
    font-size: 16;
}

header {
    background-color: bisque;
    padding: 0.1px;
}


